# Exclude test files
tests/
__tests__/
*.spec.js

# Exclude config files
*.log
*.lock
*.env
*.editorconfig
.eslint*
.prettierrc

# Exclude development tools
node_modules/
scripts/

# Exclude unused source files
src/
